/* __body */

body {
  background-color: rgba(255,255,255,1);
  min-width: 320px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.8em;
}

/* __a */
.text_link {
 a {
    margin: 3px;
    padding: 4px 6px;
    background-color: #333;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    &:hover {
      background-color: #FFF;
    color: #333;
    }
  }
}

/* __wrapper */

.wrapper {
  width: 100%;
  background: url(../images/bg_mainvisual.jpg) repeat-y top center/cover rgba(46,154,207,0.5);
}

[class^="block_"]:not(.block_mainvisual):not(.block_logo)  {
  margin: 30px 10% 0;
  width: 80%;
  padding: 120px 10px;
  background-color: rgb(158, 208, 233, 0.6);
}

/* __header */
/* ____mainvisual */

.block_mainvisual {
  padding: 30px 0;
  // background-color: rgba(255,255,255,1);
}

.block_logo {
  margin: 0 auto;
  width: 300px;
  height: 60px;
  img{
    width: 100%;
  }
}

/* ロゴ下リード文章 */
.text_lead {
  h1 {
    margin-top: 20px;
    color: #333;
    font-size: 14px;
    text-align: center;
  }
}

.text_headline_wrap {
  margin: 0 auto;
  width: 300px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 6px dotted #333;
  color: #333;
  text-align: center;
  .text_headline {
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
  .text_jp {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1em;
    text-indent: 1em;
    color: #333;
    display: inline-block;
  }
}

.image_summary {
  text-align: center;
}

.text_summary {
  margin-top: 20px;
  text-align: center;/* PC */
  ul  {
    li {
      margin-bottom: 20px;
      display: inline-block;
    }
  }
}

.button_summary {
  margin-top: 20px;
  text-align: center;
  ul  {
    li {
      margin-bottom: 20px;
      display: inline-block;
    }
  }
}


@media screen and (max-width: 768px) {
  .text_summary {
    text-align: left;
  }
  .text_ctr {
    text-align: left
  }
}

.image_summary {
  margin-top: 20px;
  img {
    margin: 0 auto;
    border-radius: 50%;
  }
  ul {
    li {
      display: inline-block;
    }
  }
}

.block_profile {
  background-color: #FFF;
}

.block_portfolio {
    &::before {
        content: "";
        width: 100%;
        height: inherit;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }      
}

.wrap_insta {
  margin: 0 auto;
  width: 540px;
}

footer {
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #333;
  color: #FFF;
  position: relative;
}

// @import "youtube.scss";
@import "button.scss";
