@charset "UTF-8";
/* __body */
body {
  background-color: rgb(255, 255, 255);
  min-width: 320px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.8em;
}

/* __a */
.text_link a {
  margin: 3px;
  padding: 4px 6px;
  background-color: #333;
  color: #FFF;
  text-decoration: none;
  border-radius: 3px;
}
.text_link a:hover {
  background-color: #FFF;
  color: #333;
}

/* __wrapper */
.wrapper {
  width: 100%;
  background: url(../images/bg_mainvisual.jpg) repeat-y top center/cover rgba(46, 154, 207, 0.5);
}

[class^=block_]:not(.block_mainvisual):not(.block_logo) {
  margin: 30px 10% 0;
  width: 80%;
  padding: 120px 10px;
  background-color: rgba(158, 208, 233, 0.6);
}

/* __header */
/* ____mainvisual */
.block_mainvisual {
  padding: 30px 0;
}

.block_logo {
  margin: 0 auto;
  width: 300px;
  height: 60px;
}
.block_logo img {
  width: 100%;
}

/* ロゴ下リード文章 */
.text_lead h1 {
  margin-top: 20px;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.text_headline_wrap {
  margin: 0 auto;
  width: 300px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 6px dotted #333;
  color: #333;
  text-align: center;
}
.text_headline_wrap .text_headline {
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}
.text_headline_wrap .text_jp {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1em;
  text-indent: 1em;
  color: #333;
  display: inline-block;
}

.image_summary {
  text-align: center;
}

.text_summary {
  margin-top: 20px;
  text-align: center; /* PC */
}
.text_summary ul li {
  margin-bottom: 20px;
  display: inline-block;
}

.button_summary {
  margin-top: 20px;
  text-align: center;
}
.button_summary ul li {
  margin-bottom: 20px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .text_summary {
    text-align: left;
  }
  .text_ctr {
    text-align: left;
  }
}
.image_summary {
  margin-top: 20px;
}
.image_summary img {
  margin: 0 auto;
  border-radius: 50%;
}
.image_summary ul li {
  display: inline-block;
}

.block_profile {
  background-color: #FFF;
}

.block_portfolio::before {
  content: "";
  width: 100%;
  height: inherit;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.wrap_insta {
  margin: 0 auto;
  width: 540px;
}

footer {
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #333;
  color: #FFF;
  position: relative;
}

.button-simple {
  position: relative;
  font-weight: bold;
  padding: 5px 15px;
  margin: 0px 5px;
  border-radius: 30px; /*角の丸み*/
  font-size: 18px; /*文字サイズ*/
  background-color: #000; /*背景色*/
  color: #fff; /*文字色*/
  display: inline-block;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}

.button-simple:before {
  font-family: "Font Awesome 5 Free", "FontAwesome";
  content: "\f144"; /*好きなアイコン*/
  color: #FFF; /*アイコンの色*/
  margin-right: 3px;
}

a:hover .button-simple {
  background-color: #FFF; /*触れたときの背景色*/
  color: #333; /*触れたときの文字色*/
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.3);
  animation-play-state: paused;
  top: 3px;
}

.dokidoki {
  animation: dokidoki 1.5s infinite;
}

@keyframes dokidoki {
  0% {
    transform: scale(1.05);
  }
  5% {
    transform: scale(1);
  }
  95% {
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
  }
}/*# sourceMappingURL=style.css.map */